apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: icishub.azurecr.io/azure-poc/mvp_frontend:v1
        imagePullPolicy: Always
        env:
          - name: BACKEND_API_URL
            value: "apigw" 
        ports:
        - containerPort: 80
      imagePullSecrets:
      - name: frontend-secret
