apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
#- route.yaml
images:
- name: icishub.azurecr.io/azure-edu/mvp_ppon_sub_backend
  newTag: "v1"
